@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700;900&display=swap');

:root {
    --dark-orange: #f16718;
    --light-orange: #ff9b62;
    --dark-blue: #162542;
    --light-blue: #7b8bad;
    --white: #ffffff;
    --light-grey: #e8eff2;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.24rem;
    padding-inline: 1.5rem;
}

.btn-pre-order {
    background: var(--light-grey);
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem .8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.apresentation {
    padding-top: 4rem;
    padding-left: 1.5rem;
}

.titulo, .release {
    font-weight: 900;
    text-transform: uppercase;
}

.apresentation-title {
    font-size: 2.2rem;
    line-height: 3rem;
}

.text {
    color: var(--light-blue);
    line-height: 1.625rem;
}

.apresentation-text {
    padding-block: 2rem;
    padding-right: 1.2rem;
}

.apresentation-button {
    display: flex;
    gap: 2rem;
}

.orange-button {
    background: var(--dark-orange);
    color: white;
    font-weight: 700;
}

.release {
    padding-top: 1rem;
}

.key-over {
    width: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.second-apresentation {
    padding-top: 2rem;
}

.apresentation-nd-img {
    padding-left: .84rem;
    border-radius: 36px;
}

.second-apresentation-texts {
    padding-top: 5rem;
    text-align: center;
}

.second-apresentation-texts h2 {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 1.5rem;
}

.second-apresentation-texts p {
    padding-inline: 1.5rem;
}

.key-specs {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.key-specs-items {
    text-align: center;
    padding-inline: 1.5rem
}

.key-specs-titulo {
    font-size: 1.5rem;
    padding-block: 3rem 1.5rem;
}

.rodape {
    padding-block: 6rem 3rem;
    text-align: center;
    font-weight: 700;
}

.span-rodape {
    color: rgb(103, 103, 103);
}

@media screen and (min-width: 700px) {
    .apresentation {
        display: flex;
    }

    .apresentation-text {
        padding-right: 4rem;
    }

    .key-over {
        width: 24rem;
        height: 32rem;
    }

    .img-second-apresentation {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .first-img {
        height: 26rem;
        border-radius: 35px;
    }

    .apresentation-nd-img {
        width: 26rem;
    }

    .key-specs {
        flex-direction: row;
    }
    
}