@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700;900&display=swap');

:root {
    --dark-orange: #f16718;
    --light-orange: #ff9b62;
    --dark-blue: #162542;
    --light-blue: #7b8bad;
    --white: #ffffff;
    --light-grey: #e8eff2;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.24rem;
    padding-inline: 1.5rem;
}

.btn-pre-order {
    background: var(--light-grey);
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    border-radius: 0.5rem;
}

.apresentation {
    padding-top: 4rem;
    padding-left: 1.5rem;
}

.titulo, .release {
    font-weight: 900;
    text-transform: uppercase;
}

.apresentation-title {
    font-size: 2.2rem;
    line-height: 3rem;
}

.text {
    color: var(--light-blue);
    line-height: 1.625rem;
}

.apresentation-text {
    padding-block: 2rem;
    padding-right: 1.2rem;
}

.apresentation-button {
    display: flex;
    gap: 2rem;
}

.orange-button {
    background: var(--dark-orange);
    color: white;
}

.release {
    padding-top: 1rem;
}

.key-over {
    width: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.second-apresentation {
    padding-top: 2rem;
}

.apresentation-nd-img {
    padding-left: .84rem;
    border-radius: 36px;
}

.second-apresentation-texts {
    padding-top: 5rem;
    text-align: center;
}

.second-apresentation-texts h2 {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 1.5rem;
}

.second-apresentation-texts p {
    padding-inline: 1.5rem;
}